.container
  .row
    .col-md-12.header-container
      = link_to "Shorter", root_path, :class => "header-link"
      На этой странице Вы можете сделать из длинной и сложной ссылки простую.
      %br
      Ссылка будет действительна в течение семи дней после последнего визита.
    .col-md-12.main-block
      - if flash["success"]
        .alert.alert-success{ :role => "alert" }
          Ваша ссылка:
          %span.your-alias
            = flash[:success]
        = render 'links/form'
      - elsif flash["error"]
        .alert.alert-warning{ :role => "alert" }
          = flash[:error]
        = render 'links/form'
      - else
        = render 'links/form'