/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header-container {
  margin-top: 30px;
}

.header-container a, a:hover {
  text-decoration: none;
  color: #6ba5d5;
  font-size: 57px;
  font-family: 'Nimbus Sans L';
  display: block;
  width: 210px;
  height: 70px;
  margin-left: 50%;
  position: relative;
  right: 105px;
}

.main-block {
  margin-top: 30px;
  width: 350px;
  margin-left: 50%;
  position: relative;
  right: 195px;
}

#link_original_link {
  width: 272px;
}

.submit {
  width: 84px;
}


/* Bootstrap custom*/

.col-md-12 {
  text-align: center;
}

.alert-success, .alert-warning {
  width: 360px;
  position: relative;
  top: -10px;
}

.your-alias {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.navbar-form {
  width: 360px;
  position: absolute;
  top: 70px;
  margin: 0;
  padding: 0;
}

.navbar-form div {
  float: left;
}

.field_with_errors {
  margin-right: 4px;
}

.panel {
  margin-bottom: 0;
}